<section class="about_area section_padding_100" id="about">
    <div class="container">
        <div class="about_us_area">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <!-- About Us Text Start -->
                    <div class="about_us_text">
                        <h3>Welcome to DEV OF FUTURE</h3>
                        <p> We believe we can change the world</p>
                        <h5>Valid HTML5 / CSS3</h5>
                        <h5>Awesome Unique Design</h5>
                    </div>
                </div>

                <!-- About Us Chart Area -->
                <div class="col-xs-12 col-sm-6">
                    <div class="about_us_thumb">
                        <img src="/img/bg-pattern/about.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end./ container -->
</section>
