<!-- ::::::::::::::::::::::::::: Special Feature Area Start ::::::::::::::::::::::::::: -->
<section class="special_feature_area section_padding_100_70">
    <div class="container">
        <div class="row">

            <div class="col-sm-6 col-md-3">
                <!-- Single Feature Area Start -->
                <div class="single_feature">
                    <div class="feature_icon">
                        <i class="icofont icofont-coins"></i>
                    </div>
                    <!-- Single Feature Image Area End -->
                    <div class="feature_text">
                        <h5>Investment Planning</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quasi iusto tempore.</p>
                    </div>
                    <!-- Single Feature Text Area End -->
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <!-- Single Feature Area Start -->
                <div class="single_feature">
                    <div class="feature_icon">
                        <i class="icofont icofont-deal"></i>
                    </div>
                    <!-- Single Feature Image Area End -->
                    <div class="feature_text">
                        <h5>Business Advisor</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quasi iusto tempore.</p>
                    </div>
                    <!-- Single Feature Text Area End -->
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <!-- Single Feature Area Start -->
                <div class="single_feature">
                    <div class="feature_icon">
                        <i class="icofont icofont-cur-taka"></i>
                    </div>
                    <!-- Single Feature Image Area End -->
                    <div class="feature_text">
                        <h5>Finance Advisor</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quasi iusto tempore.</p>
                    </div>
                    <!-- Single Feature Text Area End -->
                </div>
            </div>

            <div class="col-sm-6 col-md-3">
                <!-- Single Feature Area Start -->
                <div class="single_feature">
                    <div class="feature_icon">
                        <i class="icofont icofont-support"></i>
                    </div>
                    <!-- Single Feature Image Area End -->
                    <div class="feature_text">
                        <h5>Educational Support</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis quasi iusto tempore.</p>
                    </div>
                    <!-- Single Feature Text Area End -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ::::::::::::::::::::::::::: Special Feature Area End ::::::::::::::::::::::::::: -->

<!-- ::::::::::::::::::::::::::: About Us Area Start ::::::::::::::::::::::::::: -->
<section class="about_area section_padding_100" id="about">
    <div class="container">
        <div class="about_us_area">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <!-- About Us Text Start -->
                    <div class="about_us_text">
                        <h3>Welcome to DEV OF FUTURE</h3>
                        <p> We believe we can change the world</p>
                        <h5>Valid HTML5 / CSS3</h5>
                        <h5>Awesome Unique Design</h5>
                    </div>
                </div>

                <!-- About Us Chart Area -->
                <div class="col-xs-12 col-sm-6">
                    <div class="about_us_thumb">
                        <img src="/img/bg-pattern/about.jpg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end./ container -->
</section>
<!-- ::::::::::::::::::::::::::: Awesome Feature Area End ::::::::::::::::::::::::::: -->
