<!-- ::::::::::::::::::::::::::: Message Now Area Start ::::::::::::::::::::::::::: -->
<section class="message_now_area section_padding_100_70" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Message Title -->
                <div class="message_title">
                    <!-- Section Heading Start -->
                    <div class="section_heading">
                        <p>Drop a line</p>
                        <h3>Message Now</h3>
                    </div>
                    <!-- Section Heading End -->
                </div>

                <div class="contact_from">
                    <form action="" method="post" id="main_contact_form">
                        <!-- Message Input Area Start -->
                        <div class="contact_input_area">
                            <div id="success_fail_info"></div>
                            <div class="row">
                                <!-- Single Input Area Start -->
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <i class="icofont icofont-user"></i>
                                        <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <i class="icofont icofont-envelope"></i>
                                        <input type="email" class="form-control" name="email" id="email" placeholder="Your E-mail" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <i class="icofont icofont-address-book"></i>
                                        <input type="text" class="form-control" name="subject" id="subject" placeholder="Your Subject" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-sm-6 col-xs-12">
                                    <div class="form-group">
                                        <i class="icofont icofont-ui-touch-phone"></i>
                                        <input type="number" class="form-control" name="number" id="number" placeholder="Your Number *" required>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-xs-12">
                                    <div class="form-group textarea">
                                        <i class="icofont icofont-edit-alt"></i>
                                        <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Your Message *" required></textarea>
                                    </div>
                                </div>
                                <!-- Single Input Area Start -->
                                <div class="col-xs-12">
                                    <button type="submit" class="btn btn-default">SEND MESSAGE</button>
                                </div>
                            </div>
                        </div>
                        <!-- Message Input Area End -->
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ::::::::::::::::::::::::::: Message Now Area Start ::::::::::::::::::::::::::: -->