<!-- ::::::::::::::::::::::::::: Map Area Start ::::::::::::::::::::::::::: -->
<div class="map_contact_address_area">
    <!-- Map Area Start -->
    <div class="map_area" id="googleMap"></div>
</div>
<!-- ::::::::::::::::::::::::::: Map Area End ::::::::::::::::::::::::::: -->
    <!-- ::::::::::::::::::::::::::: Footer Area Start ::::::::::::::::::::::::::: -->
    <footer class="footer_area section_padding_60">
        <!-- Bottom Footer Area Start -->
        <div class="footer_bottom_area">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="footer_social_area">
                            <a class="btn btn-default" href="https://facebook.com/{{ site.facebook }}" role="button"><i class="icofont icofont-social-facebook"></i></a>
                            <a class="btn btn-default" href="#" role="button"><i class="icofont icofont-social-google-plus"></i></a>
                            <a class="btn btn-default" href="#" role="button"><i class="icofont icofont-social-skype"></i></a>
                            <a class="btn btn-default" href="#" role="button"><i class="icofont icofont-social-twitter"></i></a>
                            <a class="btn btn-default" href="#" role="button"><i class="icofont icofont-social-linkedin"></i></a>
                        </div>
                        <div class="footer_bottom">
                            <p>
                                 <span> <i class="fa fa-terminal" style="font-size: 2em;color: #666"></i> with <i class="test fa fa-heart" style="font-size: 2em;  color: #666"></i> by DOF</p> </span>
                            </p>
                        </div>
                        <!-- Bottom Footer Copywrite Text Area End -->
                    </div>
                </div>
                <!-- end./ row -->
            </div>
            <!-- end./ container -->
        </div>
        <!-- Bottom Footer Area End -->
    </footer>
    <!-- ::::::::::::::::::::::::::: Footer Area End ::::::::::::::::::::::::::: -->

    <!-- ::::::::::::::::::::::::::: All jQuery Plugins ::::::::::::::::::::::::::: -->

    <!-- jQuery (necessary for all JavaScript plugins) -->
    <script src="/js/jquery-2.2.4.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Waypoint js -->
    <script src="/js/jquery.waypoints.min.js"></script>

    <!-- Owl-carousel js -->
    <script src="/js/owl.carousel.min.js"></script>

    <!-- Ajax Contact js -->
    <script src="./js/ajax-contact.js"></script>

    <!-- Meanmenu js -->
    <script src="/js/meanmenu.js"></script>

    <!-- Onepage Nav js -->
    <script src="/js/jquery.nav.min.js"></script>

    <!-- Magnific Popup js -->
    <script src="/js/jquery.magnific-popup.min.js"></script>

    <!-- Counterup js -->
    <script src="/js/counterup.min.js"></script>

    <!-- jQuery easing js -->
    <script src="/js/jquery.easing.1.3.js"></script>

    <!-- Back to top js -->
    <script src="/js/jquery.scrollUp.js"></script>

    <!-- Sticky js -->
    <script src="/js/jquery.sticky.js"></script>

    <!-- MatchHeight js -->
    <script src="/js/jquery.matchHeight-min.js"></script>

    <!-- YouTube Video Player js -->
    <script src="/js/YTPlayer.min.js"></script>

    <!-- Parallax js -->
    <script src="/js/stellar.min.js"></script>

    <!-- GOOGLE MAPS -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDk9KNSL1jTv4MY9Pza6w8DJkpI_nHyCnk" type="text/javascript"></script>

    <!-- GOOGLE ACTIVE JS -->
    <script src="/js/map-active.js"></script>

    <!-- Active js -->
    <script src="/js/custom.js"></script>

    <!-- Google Analytics -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
          ga('create', 'CODE_GA_HERE', 'developersoffuture.github.io');
          ga('send', 'pageview');
        </script>
