    <!-- Preloader Start -->
    <!--<div id="preloader">
        <div class="wrapper">
            <div class="cssload-loader"></div>
        </div>
    </div> -->
    <!-- /.end preloader -->

    <!-- ::::::::::::::::::::::::::: Header Start ::::::::::::::::::::::::::: -->
    <header class="header_area">
        <!-- Main Header Area Start -->
        <div class="main_header_area" id="sticky">
            <div class="container">
                <div class="row">

                    <div class="col-sm-2 col-xs-9">
                        <!-- Logo Area:: For better view in all device please use logo image max-width 70px -->
                        <div class="logo_area">
                            <a href="{{ site.baseurl }}"><img src="/img/dof.png" alt=""></a>
                        </div>
                    </div>
                    
                    {% include menu.html %}
                    
                </div>
            </div>
        </div>
        <!-- Main Header Area End -->
    </header>
    <!-- ::::::::::::::::::::::::::: Header End ::::::::::::::::::::::::::: -->