<div class="col-sm-10 col-xs-12">
    <!-- Menu Area Start -->
    <div class="main_menu_area">
        <div class="mainmenu">
            <nav>
                <ul id="nav">
                    <li class="current_page_item"><a href="#home">Home</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#advisor">Advisor</a></li>
                    <li><a href="#work">Work</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
        </div>

    </div>
    <!-- Menu Area End -->
</div>
