<!-- ::::::::::::::::::::::::::: Blog Area Start ::::::::::::::::::::::::::: -->
<section class="blog_area section_padding_100_70" id="blog">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Section Heading Start -->
                <div class="section_heading">
                    <p>our creative info</p>
                    <h3>latest news</h3>
                </div>
                <!-- Section Heading End -->
            </div>
        </div>
        <div class="row">

            <!-- single latest news area start -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="single_latest_news_area">
                    <!-- single latest news thumb -->
                    <div class="single_latest_news_img_area">
                        <img src="/img/news-img/blog.jpg" alt="">
                        <!-- single latest news published date -->
                    </div>
                    <div class="single_latest_news_text_area">
                        <!-- single latest news title -->
                        <div class="news_title">
                            <a href="#"><h4>If you don't drive your business, you will be driven out of business.</h4></a>
                        </div>
                        <div class="author_name_date">
                            <div class="author">
                                <i class="icofont icofont-user"></i>
                                <p>Lim Sarah</p>
                            </div>
                            <div class="date">
                                <i class="icofont icofont-calendar"></i>
                                <p>12 Sep</p>
                            </div>
                        </div>
                        <!-- single latest news excerp -->
                        <div class="news_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magni, voluptate! Recusandae deleniti doloribus.</p>
                        </div>
                        <!-- learn more button -->
                        <div class="learn_more_button">
                            <a class="btn btn-default" role="button" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- single latest news area start -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="single_latest_news_area">
                    <!-- single latest news thumb -->
                    <div class="single_latest_news_img_area">
                        <img src="/img/news-img/blog-2.jpg" alt="">
                        <!-- single latest news published date -->
                    </div>
                    <div class="single_latest_news_text_area">
                        <!-- single latest news title -->
                        <div class="news_title">
                            <a href="#"><h4>If you don't drive your business, you will be driven out of business.</h4></a>
                        </div>
                        <div class="author_name_date">
                            <div class="author">
                                <i class="icofont icofont-user"></i>
                                <p>Lim Sarah</p>
                            </div>
                            <div class="date">
                                <i class="icofont icofont-calendar"></i>
                                <p>12 Sep</p>
                            </div>
                        </div>
                        <!-- single latest news excerp -->
                        <div class="news_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magni, voluptate! Recusandae deleniti doloribus.</p>
                        </div>
                        <!-- learn more button -->
                        <div class="learn_more_button">
                            <a class="btn btn-default" role="button" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- single latest news area start -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="single_latest_news_area">
                    <!-- single latest news thumb -->
                    <div class="single_latest_news_img_area">
                        <img src="/img/news-img/blog-3.jpg" alt="">
                        <!-- single latest news published date -->
                    </div>
                    <div class="single_latest_news_text_area">
                        <!-- single latest news title -->
                        <div class="news_title">
                            <a href="#"><h4>If you don't drive your business, you will be driven out of business.</h4></a>
                        </div>
                        <div class="author_name_date">
                            <div class="author">
                                <i class="icofont icofont-user"></i>
                                <p>Lim Sarah</p>
                            </div>
                            <div class="date">
                                <i class="icofont icofont-calendar"></i>
                                <p>12 Sep</p>
                            </div>
                        </div>
                        <!-- single latest news excerp -->
                        <div class="news_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magni, voluptate! Recusandae deleniti doloribus.</p>
                        </div>
                        <!-- learn more button -->
                        <div class="learn_more_button">
                            <a class="btn btn-default" role="button" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- single latest news area start -->
            <div class="col-xs-12 col-sm-6 col-md-3">
                <div class="single_latest_news_area">
                    <!-- single latest news thumb -->
                    <div class="single_latest_news_img_area">
                        <img src="/img/news-img/blog-4.jpg" alt="">
                        <!-- single latest news published date -->
                    </div>
                    <div class="single_latest_news_text_area">
                        <!-- single latest news title -->
                        <div class="news_title">
                            <a href="#"><h4>If you don't drive your business, you will be driven out of business.</h4></a>
                        </div>
                        <div class="author_name_date">
                            <div class="author">
                                <i class="icofont icofont-user"></i>
                                <p>Lim Sarah</p>
                            </div>
                            <div class="date">
                                <i class="icofont icofont-calendar"></i>
                                <p>12 Sep</p>
                            </div>
                        </div>
                        <!-- single latest news excerp -->
                        <div class="news_content">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia magni, voluptate! Recusandae deleniti doloribus.</p>
                        </div>
                        <!-- learn more button -->
                        <div class="learn_more_button">
                            <a class="btn btn-default" role="button" href="#">Read More</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- end. row -->
    </div>
    <!-- end. container -->
</section>
<!-- ::::::::::::::::::::::::::: Blog Area End ::::::::::::::::::::::::::: -->