<!-- ::::::::::::::::::::::::::: Price and Plans Area Start ::::::::::::::::::::::::::: -->
<div class="price_plan_area section_padding_100_70" id="price">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Section Heading Start -->
                <div class="section_heading">
                    <p>Pick your best plan</p>
                    <h3>Price Plan</h3>
                </div>
                <!-- Section Heading End -->
            </div>
        </div>

        <div class="row">
            <!-- Single Price Plan Area Start -->
            <div class="col-sm-6 col-md-3">
                <div class="single_price_plan item">
                    <div class="title">
                        <h3>Start-up</h3>
                    </div>
                    <div class="price">
                        <h4>$59/<span>Monthly</span></h4>
                    </div>
                    <div class="description">
                        <p>Duration: 7days</p>
                        <p>Online Course</p>
                        <p>Monthly Exam</p>
                        <p>No Hidden Fees</p>
                        <p>100+ Video Lesson</p>
                        <p>5 Practical Class</p>
                    </div>
                    <div class="button">
                        <a class="btn btn-default" href="#" role="button">Start Now</a>
                    </div>
                </div>
            </div>
            <!-- Single Price Plan Area End -->

            <!-- Single Price Plan Area Start -->
            <div class="col-sm-6 col-md-3">
                <div class="single_price_plan item">
                    <div class="title">
                        <h3>Premium</h3>
                    </div>
                    <div class="price">
                        <h4>$133/<span>Monthly</span></h4>
                    </div>
                    <div class="description">
                        <p>Duration: 7days</p>
                        <p>Online Course</p>
                        <p>Monthly Exam</p>
                        <p>No Hidden Fees</p>
                        <p>100+ Video Lesson</p>
                        <p>5 Practical Class</p>
                    </div>
                    <div class="button">
                        <a class="btn btn-default" href="#" role="button">Start Now</a>
                    </div>
                </div>
            </div>
            <!-- Single Price Plan Area End -->

            <!-- Single Price Plan Area Start -->
            <div class="col-sm-6 col-md-3">
                <div class="single_price_plan item">
                    <div class="title">
                        <h3>Gold</h3>
                    </div>
                    <div class="price">
                        <h4>$299/<span>Monthly</span></h4>
                    </div>
                    <div class="description">
                        <p>Duration: 7days</p>
                        <p>Online Course</p>
                        <p>Monthly Exam</p>
                        <p>No Hidden Fees</p>
                        <p>100+ Video Lesson</p>
                        <p>5 Practical Class</p>
                    </div>
                    <div class="button">
                        <a class="btn btn-default" href="#" role="button">Start Now</a>
                    </div>
                </div>
            </div>
            <!-- Single Price Plan Area End -->

            <!-- Single Price Plan Area Start -->
            <div class="col-sm-6 col-md-3">
                <div class="single_price_plan item">
                    <div class="title">
                        <h3>Pro</h3>
                    </div>
                    <div class="price">
                        <h4>$499/<span>Monthly</span></h4>
                    </div>
                    <div class="description">
                        <p>Duration: 7days</p>
                        <p>Online Course</p>
                        <p>Monthly Exam</p>
                        <p>No Hidden Fees</p>
                        <p>100+ Video Lesson</p>
                        <p>5 Practical Class</p>
                    </div>
                    <div class="button">
                        <a class="btn btn-default" href="#" role="button">Start Now</a>
                    </div>
                </div>
            </div>
            <!-- Single Price Plan Area End -->

        </div>
    </div>
</div>
<!-- ::::::::::::::::::::::::::: Price and Plans Area End ::::::::::::::::::::::::::: -->