<!-- ::::::::::::::::::::::::::: Project area start ::::::::::::::::::::::::::: -->
<section class="gallery_area clearfix section_padding_100" id="work">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Section Heading Start -->
                <div class="section_heading">
                    <p>what we create</p>
                    <h3>Our latest works</h3>
                </div>
                <!-- Section Heading End -->
            </div>
        </div>
    </div>

    <div class="gallery_full_width_images_area">

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item">
            <div class="sg_hover_effects">
                <a href="#">
                    <img src="/img/gallery/1.jpg" alt="">
                    <!-- Single gallery Item hover caption -->
                    <div class="hover_overlay">
                        <div class="gallery_info">
                            <h5>Creative Work</h5>
                            <p>Bizmat</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item">
            <div class="sg_hover_effects">
                <a href="#">
                    <img src="img/gallery/2.jpg" alt="">
                    <!-- Single gallery Item hover caption -->
                    <div class="hover_overlay">
                        <div class="gallery_info">
                            <h5>Creative Work</h5>
                            <p>Bizmat</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item">
            <div class="sg_hover_effects">
                <a href="#">
                    <img src="/img/gallery/3.jpg" alt="">
                    <!-- Single gallery Item hover caption -->
                    <div class="hover_overlay">
                        <div class="gallery_info">
                            <h5>Creative Work</h5>
                            <p>Bizmat</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item">
            <div class="sg_hover_effects">
                <a href="#">
                    <img src="/img/gallery/4.jpg" alt="">
                    <!-- Single gallery Item hover caption -->
                    <div class="hover_overlay">
                        <div class="gallery_info">
                            <h5>Creative Work</h5>
                            <p>Bizmat</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item">
            <div class="sg_hover_effects">
                <a href="#">
                    <img src="/img/gallery/5.jpg" alt="">
                    <!-- Single gallery Item hover caption -->
                    <div class="hover_overlay">
                        <div class="gallery_info">
                            <h5>Creative Work</h5>
                            <p>Bizmat</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item">
            <div class="sg_hover_effects">
                <a href="#">
                    <img src="/img/gallery/6.jpg" alt="">
                    <!-- Single gallery Item hover caption -->
                    <div class="hover_overlay">
                        <div class="gallery_info">
                            <h5>Creative Work</h5>
                            <p>Bizmat</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item">
            <div class="sg_hover_effects">
                <a href="#">
                    <img src="/img/gallery/7.jpg" alt="">
                    <!-- Single gallery Item hover caption -->
                    <div class="hover_overlay">
                        <div class="gallery_info">
                            <h5>Creative Work</h5>
                            <p>Bizmat</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <!-- Single gallery Item Start -->
        <div class="single_gallery_item">
            <div class="sg_hover_effects">
                <a href="#">
                    <img src="/img/gallery/8.jpg" alt="">
                    <!-- Single gallery Item hover caption -->
                    <div class="hover_overlay">
                        <div class="gallery_info">
                            <h5>Creative Work</h5>
                            <p>Bizmat</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

    </div>
</section>
<!-- ::::::::::::::::::::::::::: Project area end ::::::::::::::::::::::::::: -->