<!-- ::::::::::::::::::::::::::: Service Details area start ::::::::::::::::::::::::::: -->
<div id="service_details_wrapper">
    <!-- Modal-box -->
    <div role="dialog" tabindex="-1" id="service_details" class="modal fade in">
        <div role="document" class="modal-dialog">
            <div class="modal-content">
                <!-- modal Head start -->
                <div class="modal_head">
                    <button aria-label="Close" data-dismiss="modal" class="close" type="button"><i class="icofont icofont-close-circled"></i></button>
                </div>
                <!-- modal body start -->
                <div class="modal_body">
                    <div class="container-fluid">
                        <div class="modal-product">
                            <!-- Service Details Content Area -->
                            <div class="service_details_content">
                                <!-- Service Details Thumb -->
                                <div class="service_details_thumb">
                                    <img src="img/services-img/service-details.jpg" alt="">
                                </div>
                                <!-- Service Details Text Area -->
                                <div class="single_part_content">
                                    <h4>Investment <span>Planning</span></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut explicabo in, temporibus aliquid eveniet, libero cupiditate, placeat harum quas, laborum mollitia. Molestias et ratione numquam inventore laborum, pariatur aperiam recusandae at sequi veritatis, reiciendis neque, cum deserunt ab optio? Autem cumque beatae repudiandae aut dolorum consequuntur alias quia consequatur iusto!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur maiores ipsum ratione deleniti labore totam porro rerum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque perspiciatis unde ut at nesciunt sed doloribus possimus vero sit dolores! Unde in explicabo magnam, reprehenderit non ipsum officia quas esse voluptatibus assumenda.</p>
                                </div>
                                <!-- Service Details Text -->
                                <div class="single_part_content">
                                    <h4>Business <span>Strategy</span></h4>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut explicabo in, temporibus aliquid eveniet, libero cupiditate, placeat harum quas, laborum mollitia. Molestias et ratione numquam inventore laborum, pariatur aperiam recusandae at sequi veritatis, reiciendis neque, cum deserunt ab optio? Autem cumque beatae repudiandae aut dolorum consequuntur alias quia consequatur iusto!</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur maiores ipsum ratione deleniti labore totam porro rerum.</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque perspiciatis unde ut at nesciunt sed doloribus possimus vero sit dolores! Unde in explicabo magnam, reprehenderit non ipsum officia quas esse voluptatibus assumenda.</p>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-md-6">
                                        <!-- Service Data Download Area -->
                                        <div class="service_data_dl item">
                                            <p>Download Full Plan</p>
                                            <a href="dummy-data/worksheet.pdf" class="pdf_dl" download>Download PDF</a>
                                            <a href="dummy-data/bizpro.doc" class="doc_dl" download>Download DOC</a>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-md-6">
                                        <!-- Service Data Download Area -->
                                        <div class="still_have_a_question item">
                                            <p>Still have a questions? Give us a miss call. (Toll Free)</p>
                                            <a class="btn btn-default btn-lg">+880 111 611 66 123</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ::::::::::::::::::::::::::: Service Details area end ::::::::::::::::::::::::::: -->

<!-- ::::::::::::::::::::::::::: Our Services Area Start ::::::::::::::::::::::::::: -->
<section class="_we_do_area section_padding_100_70" id="service">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Section Heading Start -->
                <div class="section_heading white">
                    <p>our best service</p>
                    <h3>What we do</h3>
                </div>
                <!-- Section Heading End -->
            </div>
        </div>

        <div class="row">

            <!-- Single Service Area Start -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="single_service item">
                    <!-- Single Service image -->
                    <div class="single_service_img">
                        <img src="img/services-img/service-1.jpg" alt="">
                    </div>
                    <!-- Single Service title -->
                    <div class="single_service_title">
                        <h4>Investment Planning</h4>
                    </div>
                    <!-- Single Service content -->
                    <div class="single_service_content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi modi, nesciunt voluptas dolores illo voluptates?</p>
                    </div>
                    <div class="learn_more">
                        <a data-target="#service_details" class="btn btn-default" role="button" data-toggle="modal" href="#">Take A Tour</a>
                    </div>
                </div>
            </div>

            <!-- Single Service Area Start -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="single_service item">
                    <!-- Single Service image -->
                    <div class="single_service_img">
                        <img src="img/services-img/service-2.jpg" alt="">
                    </div>
                    <!-- Single Service title -->
                    <div class="single_service_title">
                        <h4>Business Advisor</h4>
                    </div>
                    <!-- Single Service content -->
                    <div class="single_service_content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi modi, nesciunt voluptas dolores illo voluptates?</p>
                    </div>
                    <div class="learn_more">
                        <a data-target="#service_details" class="btn btn-default" role="button" data-toggle="modal" href="#">Take A Tour</a>
                    </div>
                </div>
            </div>

            <!-- Single Service Area Start -->
            <div class="col-sm-6 col-md-4 col-lg-3">
                <div class="single_service item">
                    <!-- Single Service image -->
                    <div class="single_service_img">
                        <img src="img/services-img/service-3.jpg" alt="">
                    </div>
                    <!-- Single Service title -->
                    <div class="single_service_title">
                        <h4>Finance Advisor</h4>
                    </div>
                    <!-- Single Service content -->
                    <div class="single_service_content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi modi, nesciunt voluptas dolores illo voluptates?</p>
                    </div>
                    <div class="learn_more">
                        <a data-target="#service_details" class="btn btn-default" role="button" data-toggle="modal" href="#">Take A Tour</a>
                    </div>
                </div>
            </div>

            <!-- Single Service Area Start -->
            <div class="col-sm-6 col-md-4 col-lg-3 hidden-md">
                <div class="single_service item">
                    <!-- Single Service image -->
                    <div class="single_service_img">
                        <img src="img/services-img/service-4.jpg" alt="">
                    </div>
                    <!-- Single Service title -->
                    <div class="single_service_title">
                        <h4>Educational Support</h4>
                    </div>
                    <!-- Single Service content -->
                    <div class="single_service_content">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi modi, nesciunt voluptas dolores illo voluptates?</p>
                    </div>
                    <div class="learn_more">
                        <a data-target="#service_details" class="btn btn-default" role="button" data-toggle="modal" href="#">Take A Tour</a>
                    </div>
                </div>
            </div>

        </div>
        <!-- end. row -->
    </div>
    <!-- end. container -->
</section>
<!-- ::::::::::::::::::::::::::: Our Services Area End ::::::::::::::::::::::::::: -->

<!-- ::::::::::::::::::::::::::: Cool Facts Area Start ::::::::::::::::::::::::::: -->
<section class="fun_facts_area clearfix section_padding_100_70">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <!-- Section Heading Start -->
                <div class="section_heading">
                    <p>our cool facts</p>
                    <h3>Facts of this week</h3>
                </div>
                <!-- Section Heading End -->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <!-- Single Fact Start  -->
                <div class="fun_fact_text item">
                    <i class="icofont icofont-emo-heart-eyes"></i>
                    <h3><span class="counter">3250</span>+</h3>
                    <h5>Happy Clients</h5>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3">
                <!-- Single Fact Start  -->
                <div class="fun_fact_text item">
                    <i class="icofont icofont-growth"></i>
                    <h3><span class="counter">764</span>+</h3>
                    <h5>Project Completed</h5>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3">
                <!-- Single Fact Start  -->
                <div class="fun_fact_text item">
                    <i class="icofont icofont-idea"></i>
                    <h3><span class="counter">1975</span>+</h3>
                    <h5>Hours of Works</h5>
                </div>
            </div>

            <div class="col-xs-12 col-sm-3">
                <!-- Single Fact Start  -->
                <div class="fun_fact_text item">
                    <i class="icofont icofont-users"></i>
                    <h3><span class="counter">31</span>+</h3>
                    <h5>Team Advisor</h5>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- ::::::::::::::::::::::::::: Fun Facts Area End ::::::::::::::::::::::::::: -->

<!-- ::::::::::::::::::::::::::: Our Speciality Area Start ::::::::::::::::::::::::::: -->
<section class="our_speciality_area section_padding_100_70">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4">
                <!-- Single Speciality Video Area Start -->
                <div class="our_speciality_video item">
                    <div class="video_play_button" id="video">
                        <!-- Video Link -->
                        <a href="https://www.youtube.com/watch?v=58yj9IrfGUk" class="video_btn"><i class="icofont icofont-ui-video-play"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-8">
                <div class="item">
                    <div class="row">
                        <div class="col-xs-12">
                            <!-- Section Heading Start -->
                            <div class="section_heading clearfix">
                                <p>our best values</p>
                                <h3>Core Features</h3>
                            </div>
                            <!-- Section Heading End -->
                        </div>
                    </div>

                    <div class="speciality_t_area">
                        <div class="row">
                            <!-- Single Speciality Area Start -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="single_speciality item">
                                    <div class="single_speciality_icon">
                                        <i class="icofont icofont-runner"></i>
                                    </div>
                                    <div class="single_speciality_text">
                                        <h5>Super Fast</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cupiditate sed deleniti soluta, architecto id.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Speciality Area Start -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="single_speciality item">
                                    <div class="single_speciality_icon">
                                        <i class="icofont icofont-business-man"></i>
                                    </div>
                                    <div class="single_speciality_text">
                                        <h5>Friendly Support</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cupiditate sed deleniti soluta, architecto id.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Speciality Area Start -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="single_speciality item">
                                    <div class="single_speciality_icon">
                                        <i class="icofont icofont-code"></i>
                                    </div>
                                    <div class="single_speciality_text">
                                        <h5>Valid HTML5 / CSS3</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cupiditate sed deleniti soluta, architecto id.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Speciality Area Start -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="single_speciality item">
                                    <div class="single_speciality_icon">
                                        <i class="icofont icofont-light-bulb"></i>
                                    </div>
                                    <div class="single_speciality_text">
                                        <h5>Awesome Unique Design</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cupiditate sed deleniti soluta, architecto id.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Speciality Area Start -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="single_speciality item">
                                    <div class="single_speciality_icon">
                                        <i class="icofont icofont-ui-touch-phone"></i>
                                    </div>
                                    <div class="single_speciality_text">
                                        <h5>Cross Browser Compatibility</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cupiditate sed deleniti soluta, architecto id.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Speciality Area Start -->
                            <div class="col-xs-12 col-sm-6">
                                <div class="single_speciality item">
                                    <div class="single_speciality_icon">
                                        <i class="icofont icofont-pixels"></i>
                                    </div>
                                    <div class="single_speciality_text">
                                        <h5>Pixel perfect design</h5>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis cupiditate sed deleniti soluta, architecto id.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <!-- end. container -->
</section>
<!-- ::::::::::::::::::::::::::: Our Speciality Area End ::::::::::::::::::::::::::: -->