<!-- ::::::::::::::::::::::::::: Testimonial Area Start ::::::::::::::::::::::::::: -->
<div class="testimonial_area section_padding_100">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-7">
                <div class="testimonials_area">
                    <div class="testimonials">
                        <!-- Single testimonial area start  -->
                        <div class="single_testimonial_area">
                            <!-- Single testimonial text  -->
                            <div class="testimonial_text">
                                <!-- Single testimonial thumb  -->
                                <div class="testimonial_author_thumb">
                                    <img src="/img/advisor-img/tes-1.jpg" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iusto voluptatum voluptas soluta, rem! Deserunt sint nam consequatur laborum, aperiam quod, quo impedit ea. Veniam, doloribus, molestias? Architecto, maxime et?</p>
                            </div>
                            <div class="testimonial_author_name">
                                <h5>MD NAZRUL ISLAM</h5>
                                <h6>CEO &amp; Founder, Designing World</h6>
                            </div>
                        </div>

                        <!-- Single testimonial area start  -->
                        <div class="single_testimonial_area">
                            <!-- Single testimonial text  -->
                            <div class="testimonial_text">
                                <!-- Single testimonial thumb  -->
                                <div class="testimonial_author_thumb">
                                    <img src="/img/advisor-img/tes-3.jpg" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iusto voluptatum voluptas soluta, rem! Deserunt sint nam consequatur laborum, aperiam quod, quo impedit ea. Veniam, doloribus, molestias? Architecto, maxime et?</p>
                            </div>
                            <div class="testimonial_author_name">
                                <h5>LIM SARAH</h5>
                                <h6>CEO &amp; Founder, Priyo-bazaar</h6>
                            </div>
                        </div>

                        <!-- Single testimonial area start  -->
                        <div class="single_testimonial_area">
                            <!-- Single testimonial text  -->
                            <div class="testimonial_text">
                                <!-- Single testimonial thumb  -->
                                <div class="testimonial_author_thumb">
                                    <img src="/img/advisor-img/tes-2.jpg" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iusto voluptatum voluptas soluta, rem! Deserunt sint nam consequatur laborum, aperiam quod, quo impedit ea. Veniam, doloribus, molestias? Architecto, maxime et?</p>
                            </div>
                            <div class="testimonial_author_name">
                                <h5>YEASIN RAHMAN</h5>
                                <h6>CEO &amp; Founder, Creativeracer</h6>
                            </div>
                        </div>

                        <!-- Single testimonial area start  -->
                        <div class="single_testimonial_area">
                            <!-- Single testimonial text  -->
                            <div class="testimonial_text">
                                <!-- Single testimonial thumb  -->
                                <div class="testimonial_author_thumb">
                                    <img src="/img/advisor-img/tes-4.jpg" alt="">
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corrupti iusto voluptatum voluptas soluta, rem! Deserunt sint nam consequatur laborum, aperiam quod, quo impedit ea. Veniam, doloribus, molestias? Architecto, maxime et?</p>
                            </div>
                            <div class="testimonial_author_name">
                                <h5>DELOWER HOSSAIN</h5>
                                <h6>CEO &amp; Founder, Designclime</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xs-12 col-md-4 col-lg-offset-1">
                <div class="partner_area">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="single_partner_thumb">
                                <a href="#"><img src="/img/partners-img/1.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_partner_thumb">
                                <a href="#"><img src="/img/partners-img/2.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_partner_thumb">
                                <a href="#"><img src="/img/partners-img/3.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_partner_thumb">
                                <a href="#"><img src="/img/partners-img/4.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_partner_thumb">
                                <a href="#"><img src="/img/partners-img/5.png" alt=""></a>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="single_partner_thumb">
                                <a href="#"><img src="/img/partners-img/6.png" alt=""></a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- ::::::::::::::::::::::::::: Testimonial Area End ::::::::::::::::::::::::::: -->