<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Vibrant Community of Developers">
  <meta name="" content="Vibrant Community of Developers">
  <meta name="Content-Type" content="UTF-8">
  <meta name="Description" content="Dev Of Future, a vibrant community of proud developers,
join us now to built the gap together.">
  <meta name="Subject" content="Developers, community, africa">
  <meta name="Author" content="Sonkeng Maldini">
  <meta name="Publisher" content="Dev Of Future">
  <meta name="Identifier-Url" content="https://devoffuture.github.io/">
  <meta name="Robots" content="all">
  <meta name="Rating" content="general">
  <meta name="Distribution" content="global">
  <meta name="Geography" content="Africa, Cameroon, Nigeria, Kenya, Togo">
  <meta name="Category" content="engineering">
  <meta name="keywords" content="Dev Of Future,DOF,Developers,DevOps,Vibrant Solvers, Onwuka Gideon,Sonkeng Maldini,Terry Mafura,José Cage,Nenba Jonathan,Akinbobola Tosin,Tindo N. Arsel">
  <!-- The above meta tags *must* come first in the head; any other head content must come *after* these tags -->

  <!-- Title  -->
  <title>{{ site.title }}</title>
  <!--SEO Tags -->
  {% seo title=false %}
  <!-- Favicon  -->
  <link rel="shortcut icon" type="image/png" href="/img/core-img/favicon.ico">

  <!-- ::::::::::::::::::::::::::: All CSS Files ::::::::::::::::::::::::::: -->

  <!-- Style css -->
  <link rel="stylesheet" href="/style.css">

  <!-- Bootstrap && FontAwesome -->

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- Responsive css -->
  <link rel="stylesheet" href="/css/responsive.css">

  <!--[if IE]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
</head>
<body>
  {% include header.html %}
  <!-- ::::::::::::::::::::::::::: Welcome Area Start ::::::::::::::::::::::::::: -->
  <section class="welcome_area" id="home">
      <div class="welcome_slides">
          <!-- Single Slide Start -->
          <div class="single_slide" style="background-image: url(/img/dof1056.png);">
              <div class="slide_text">
                  <div class="table">
                      <div class="table_cell">
                          <h2>A Simple Idea can <span>Change the World</span></h2>
                          <h3>We're all working together, that's the secret.</h3>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- ::::::::::::::::::::::::::: Welcome Area End ::::::::::::::::::::::::::: -->

   {% include about.html %}

   {% include members.html %}

   {% include project.html %}

   {% include contact.html %}

   {% include footer.html %}
</section>
</body>
</html>
